* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1ca7b1;
  font-family: Georgia, "Times New Roman", Times, serif;
  overflow: hidden;
  text-align: center;
}
h1 {
  margin: 25px;
}
.game {
  opacity: 1;
  transition: opacity 0.8s ease-in;
}
.score {
  background-color: #339299;
  width: 50vw;
  margin: 10px auto;
  padding: 20px;
  border-radius: 20px;
}
.result {
  padding: 15px;
  font-size: 20px;
}
.displayScore {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}
.displayScore p {
  font-size: 32px;
}
.buttons {
  width: 60vw;
  margin: 30px auto;
  display: flex;
  justify-content: space-evenly;
}
button {
  width: 15%;
  height: 40px;
  background-color: #1ca7b1;
  border: 2px solid #339299;
  border-radius: 15%;
  box-shadow: 2px 2px 15px 2px #295c5f;
  cursor: pointer;
  transition: all 1s;
}
button:hover {
  background-color: #84dfe6;
}
.images {
  width: 60vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.images img {
  width: 90%;
}
.computerImg {
  transform: rotateY(180deg);
}
.modal {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  background-color: rgb(0, 0, 0, 0.5);
  transition: opacity 0.8s ease-in;
  pointer-events: all;
}
.modal button {
  width: 100%;
  padding: 10px;
}
.reveal {
  opacity: 1;
}
.disableButtons {
  pointer-events: none;
}
.move {
  animation: animation 0.3s ease-in-out infinite alternate;
}
@keyframes animation {
  from {
    transform: translateY(50px);
  }
  to {
    transform: translateY(0px);
  }
}
